<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juan Jose's Blog</title>
    <link rel="stylesheet" href="https://bootswatch.com/3/darkly/bootstrap.min.css" />
</head>

<body>
    <nav class="navbar navbar-default">
        <span class="navbar-brand">WEB322 - Juan Jose Lozano Reyes</span>
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                    {{#navLink "/blog"}}Blog{{/navLink}}
                    {{#navLink "/about"}}About{{/navLink}}
                    {{#navLink "/posts"}}Posts{{/navLink}}
                    {{#navLink "/categories"}}Categories{{/navLink}}
            </ul>
        </div>
    </nav>

    <div class="container">
        {{{body}}}
    </div>

</body>
</html>
