<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://bootswatch.com/3/darkly/bootstrap.min.css" />
</head>


<body>
    <nav class="navbar navbar-default">
	  <span class="navbar-brand">WEB322 - Juan Jose Lozano Reyes</span>
        <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="nav-item">
	        <a class="nav-link" href="/blog">Blog</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/about">About</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/posts">Posts</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/categories">Categories</a>
	      </li>
	    </ul>
	  </div>
	</nav>

    <div class="container">
    <table class="table table-striped table-hover ">
        <thead>
         <tr>
            <th><h2>About</h2>
                    My name is Juan Jose Lozano Reyes, I am currently in the third semester of the CPP program in Seneca College. Here is some quick stuff about me.
                <br>
            </th>
                <th><h2>Coming soon...</h2>
                    Stay tuned for more updates for this website.
                    <br> 
                </th>
        </tr>
        </thead>
    </table>
    <ul>
        <li>One of my favorite things to do is play videogames.</li>
        <li>My favorite color is blue</li>
        <li>I enjoy going to the gym</li>
        <li>I was born and raised in Colombia</li>
        <li>I will be graduating this year!</li>
    </ul>
</div>


</body>
</html>