<div class="row">
    <div class="col-md-6">
        <h2>About</h2>
        <p>My name is Juan Jose Lozano Reyes, I am currently in the third semester of the CPP program in Seneca College. Here is some quick stuff about me.</p>
    </div>
    <div class="col-md-6">
        <h2>Coming soon...</h2>
        <p>Stay tuned for more updates for this website.</p>
    </div>
</div>
<ul>
    <li>One of my favorite things to do is play videogames.</li>
    <li>My favorite color is blue</li>
    <li>I enjoy going to the gym</li>
    <li>I was born and raised in Colombia</li>
    <li>I will be graduating this year!</li>
</ul>